*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:
        radial-gradient(circle at top,
        #1a1a1a,
        #000);

    color:white;
    min-height:100vh;
    overflow-x:hidden;
}

/* HEADER */

.topbar{
    width:100%;
    background:#d50000;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:16px;
    font-weight:bold;
    border-bottom:3px solid gold;
}

/* TITLE */

.title{
    text-align:center;
    margin-top:20px;
    font-size:42px;
    color:#ff0000;
    font-family:cursive;
    text-shadow:
        0 0 5px red,
        0 0 15px red,
        0 0 25px red;
}

/* SLOT AREA */

.slot-wrapper{
    width:100%;
    display:flex;
    justify-content:center;
    margin-top:30px;
}
.slot-machine{

    background:
        linear-gradient(
            145deg,
            #111,
            #1d1d1d
        );

    border:2px solid #ffd700;

    box-shadow:
        0 0 20px rgba(255,215,0,0.5),
        0 0 40px rgba(255,0,0,0.2);

}

/* REEL */

.reel{

    background:
        linear-gradient(
            145deg,
            #222,
            #111
        );

    animation: glow 2s infinite;

}

@keyframes glow{

    0%{
        box-shadow:0 0 5px gold;
    }

    50%{
        box-shadow:0 0 20px red;
    }

    100%{
        box-shadow:0 0 5px gold;
    }

}

/* BUTTON */

button{

    background:
        linear-gradient(
            145deg,
            gold,
            orange
        );

    box-shadow:
        0 0 10px rgba(255,215,0,0.5);

}

button:hover{

    transform:scale(1.05);

    box-shadow:
        0 0 20px red;

}
/* BET */

.bet-area{
    margin-top:20px;
    text-align:center;
}

.bet-area select{
    padding:8px;
    border-radius:8px;
    border:none;
    font-size:16px;
}

/* RESULT */

.result{
    margin-top:20px;
    text-align:center;
    font-size:24px;
    font-weight:bold;
    color:#00ff66;
}

/* MOBILE */

@media(max-width:600px){

    .title{
        font-size:30px;
    }

    .reel{
        width:75px;
        height:75px;
        font-size:38px;
    }

    button{
        width:100%;
    }

    .controls{
        flex-direction:column;
    }

}
